body {
    background-color: #ffffff;
    /* height:vh; */
    overflow-y: hidden;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 18px;
    padding: 140px;
    height: 20vh;

}


.big,
.bige,
.bigg {
    background-color: #2b2e56;
}

.rd {
    background-color: #2b2e56;
    grid-column: 2/4;
}

.yl {
    background-color: #2b2e56;
}

div {
    
    padding-top: 150px;
  

}

.big {
    grid-column: 1/4;
}

.bige {
    grid-row: 2/4;
}

.bigg {
    grid-column: 1/4;
    grid-row: 7/8;
}

.yl {
    grid-column: 1/4;
    grid-row: 5/6;
}

.rd1 {
    background-color: #2b2e56;
    grid-row: 3/4;
    grid-column: 2/4;
}

